<div class="page-title">
    <h2></h2>
</div>

<div class="row">
    <div class="col-md-8">
        <!-- START GOOGLE WORLD MAP -->
        <div class="panel panel-default">
            <ul id="tabs">
                <li><a href="/#/maps" title="tab1"> Sort by location </a></li>
                <li><a href="/#/mapsByName" title="tab2"> Sort by name </a></li>
            </ul>
            <div class="panel-body panel-body-map">
                <div id="map" style="width: 100%; height: 500px"></div>
            </div>
        </div>
        <!-- END GOOGLE WORLD MAP-->
    </div>

    <div class="row" style="height:200px;">

        <div class="col-md-4">

            <!-- START VISITORS BLOCK -->
            <div class="panel panel-default" id="scrollArea">
                <div class="panel-body padding-0">
                    
                    </div>
                    <div class="row">
                        <div class="timeline-item-content" style="width: 100%; height: 100px">
                            <div class="timeline-heading">
                                <h5 href="#" style="color:darkred"><strong>โออิชิบุฟเฟ่ต์ ซีคอนบางแค</strong></h5>
                            </div>
                            <div class="timeline-body">
                                <img src="~/Templete/img/bangcare.jpg" class="img-text" width="150" align="left" />
                                <p>ชั้น 4 ซีคอนบางแค ถ.เพชรเกษม </p>
                                <div class="timeline-footer">
                                    <h5 href="#"><strong>Read more</strong></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="timeline-item-content" style="width: 100%; height: 100px">
                            <div class="timeline-heading">
                                <h5 href="#" style="color:darkred"><strong>โออิชิบุฟเฟ่ต์ ซีคอนสแควร์</strong></h5>
                            </div>
                            <div class="timeline-body">
                                <img src="~/Templete/img/square.jpg" class="img-text" width="150" align="left" />
                                <p>	ชั้น 4 ซีคอนสแควร์ ถ.ศรีนครินทร์</p>
                                <div class="timeline-footer">
                                    <h5 href="#"><strong>Read more</strong></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="timeline-item-content" style="width: 100%; height: 100px">
                            <div class="timeline-heading">
                                <h5 href="#" style="color:darkred"><strong>โออิชิบุฟเฟ่ต์ ปิ่นเกล้า</strong></h5>
                            </div>
                            <div class="timeline-body">
                                <img src="~/Templete/img/pin.jpg" class="img-text" width="150" align="left" />
                                <p>	เมเจอร์ปิ่นเกล้า ชั้น G ถ.บรมราชชนนี </p>
                                <div class="timeline-footer">
                                    <h5 href="#"><strong>Read more</strong></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="timeline-item-content" style="width: 100%; height: 100px">
                            <div class="timeline-heading">
                                <h5 href="#" style="color:darkred"><strong>โออิชิบุฟเฟ่ต์ พระราม4</strong></h5>
                            </div>
                            <div class="timeline-body">
                                <img src="~/Templete/img/bigc4.jpg" class="img-text" width="150" align="left" />
                                <p>บิ๊กซี เอ็กซ์ตร้า พระราม 4 ชั้น 1 ถนนพระราม 4</p>
                                <p>(ใกล้อาคารมาลีนนท์ ช่อง3)</p>
                                <div class="timeline-footer">
                                    <h5 href="#"><strong>Read more</strong></h5>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="timeline-item-content" style="width: 100%; height: 100px">
                        <div class="timeline-heading">
                            <h5 href="#" style="color:darkred"><strong>โออิชิแกรนด์ สยามพารากอน</strong></h5>
                        </div>
                        <div class="timeline-body">
                            <img src="~/Templete/img/oishi-grand.jpg" class="img-text" width="150" align="left" />
                            <p>ศูนย์การค้าสยามพารากอน ถ.พระราม 1 </p>
                            <p>แขวง ปทุมวัน เขต ปทุมวัน กรุงเทพฯ 10330</p>

                            <div class="timeline-footer">
                                <h5 href="#"><strong>Read more</strong></h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END VISITORS BLOCK -->

        </div>
    </div>
</div>



<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<title>Complex icons</title>
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #map {
        height: 100%;
    }
</style>

<div id="map"></div>

<script>

    // The following example creates complex markers to indicate beaches near
    // Sydney, NSW, Australia. Note that the anchor is set to (0,32) to correspond
    // to the base of the flagpole.

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: { lat: 13.757792, lng: 100.492984 }
        });

        setMarkers(map);
    }

    // Data for the markers consisting of a name, a LatLng and a zIndex for the
    // order in which these markers should display on top of each other.
    var oishis = [
      ['โออิชิบุฟเฟ่ต์ Major Avenue', 13.831637, 100.583606, 4],
      ['โออิชิบุฟเฟ่ต์ ไอทีสแคร์', 13.890382, 100.598026, 5],
      ['โอิชิราเมน เซนทรัลรัตนาธิเบศร์', 13.868384, 100.460011, 3],
      ['โออิชิบุฟเฟ่ต์ บิ๊กซีพระราม4', 13.718344, 100.597340, 2],
      ['ชาบูชิ เซนทรัลเวิลด์พลาซ่า', 13.743691, 100.563007, 1]
    ];

    function setMarkers(map) {
        // Adds markers to the map.

        // Marker sizes are expressed as a Size of X,Y where the origin of the image
        // (0,0) is located in the top left of the image.

        // Origins, anchor positions and coordinates of the marker increase in the X
        // direction to the right and in the Y direction down.
        //var image = {
        //    url: 'http://cdn.com/my-custom-icon.png',
        //  // This marker is 20 pixels wide by 32 pixels high.
        //  size: new google.maps.Size(20, 32),
        //  // The origin for this image is (0, 0).
        //  origin: new google.maps.Point(0, 0),
        //  // The anchor for this image is the base of the flagpole at (0, 32).
        //  anchor: new google.maps.Point(0, 32)
        //};
        // Shapes define the clickable region of the icon. The type defines an HTML
        // <area> element 'poly' which traces out a polygon as a series of X,Y points.
        // The final coordinate closes the poly by connecting to the first coordinate.

        var shape = {
            coords: [1, 1, 1, 20, 18, 20, 18, 1],
            type: 'poly'
        };

        for (var i = 0; i < oishis.length; i++) {
            var oishi = oishis[i];
            var marker = new google.maps.Marker({
                position: { lat: oishi[1], lng: oishi[2] },
                map: map,
                shape: shape,
                title: oishi[0],
                zIndex: oishi[3]
            });
        }
    }
</script>


<script src="~/MemberOnlineJS/tabs.js"></script>
<link href="~/Content/layouts/tabs.css" rel="stylesheet" />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOGlI5Aps4McAxmCmbPJiuhwK3OakNsbg&callback=initMap"
        async defer></script>
