@import "http://fonts.googleapis.com/css?family=Raleway";
/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
display:none;
position:center;
overflow:auto
}
img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
div#popupContact {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family:'Raleway',sans-serif
}
form {
width: 400px; /* Full width */
height: 200px; /* Full height */
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#ffffff

}

h2 {
background-color:#FFFFFF;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
.wrapper {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 93%;
  margin-top: -285px;
  overflow: hidden;
}


 .bg {
       
        background-image: url('../../Images/Register/oishi2.png');
    }

