
<script src="~/MemberOnlineJS/slideshow.js"></script>
<script src="~/Templete/js/jquery.slideme2.js"></script>
<link href="~/Templete/css/slideme.css" rel="stylesheet" />
<div class="panel panel-default">
    <style>
        li.slideme {
            max-width: 320px;
            max-height: 250px;
            width: 100%;
            height: 100%;
        }
    </style>  
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form action="/#/Register">
                <input type="image" src="~/Images/Register/Addcard.png" alt="Submit" class="img-responsive" align:center>
            </form>

        </div>


        <div id="foo">
            <ul class="slideme">
                <li><img src="~/Images/Register/Addcard.png"></li>
                <li><img src="~/Images/Register/Addcard.png"></li>
                <li><img src="~/Images/Register/Addcard.png" /></li>
                <li><img src="~/Images/Register/Addcard.png" /></li>
            </ul>
        </div>

    </div>
</div>
