<div class="panel panel-default">
    <div class="row">
        <div class="col-md-4">
            <form action="/#/Register">
                <input type="image" src="~/Images/Register/card+add.png" alt="Submit" width="48" height="48">
            </form>
                <img src="~/Images/Register/card+add.png" />
                <button class="btn btn-success btn-block"><span class="fa fa-plus"></span> Add card</button>
</div>
    </div>
    <
</div>
