<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" style="color:darkred"><strong>Card Member</strong></h3>
    </div>

    <div class="login-container lightmode">
        <div class="login-box animated fadeInDown">
            <!-- <div class="image" align="center">
                 <img src="~/Images/Register/logo1.png" />
             </div>  -->
            <br>
            <div class="login-body">
                <form action="index.html" class="form-horizontal" method="post">
                    <div class="form-group" align="center">
                        <div class="col-md-12">
                            <img src="~/Images/Register/Oishi-card.jpg" />
                        </div>
                    </div>

                    <div class="form-group" id="my_centered_buttons">
                        <div class="col-md-6">
                            <button class="btn btn-info btn-block" ><span class="fa fa-plus"></span>Add Card</button>
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                </form>
            </div>
            <div class="login-footer">

            </div>
        </div>
    </div>
</div>
    <style type="text/css">
        #my_centered_buttons {
            display: flex;
            justify-content: center;
        }
    </style>
