<div class="panel panel-default">
    <div class="row">
        <div class="col-md-4">
            <form action="/#/Register">
                <input type="image" src="~/Images/Register/Addcard.png" alt="Submit" class="img-responsive" align:center>
            </form>
          
          </div>
    </div>
</div>
