<style>
    #top-header {
        position:absolute;
        left: 0%;
        top: 0%;
        right:0%;
        
    }

    #searchbox {
        position:absolute;
        display:inline-block;
        z-index: 10;
    }
   


</style>

  


    <div class="login-container lightmode">
    <div class="login-box animated fadeInDown">
        <br><br>


        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        
            <div class="row">
                <div class="col-md-12">
                    <img id="top-header" src="~/Images/card/cards-barcode.png" class="img-responsive">

                    <form id="searchbox" method="get">
                       
                            <input type="number" id="inputNumber" class="form-control" placeholder="Card Number" required autofocus>
                     
                     
                            <input type="password" id="inputPassword" class="form-control" placeholder="Pin Number" required>
                       
                       
                            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" onclick="parent.location='/#/Point'"><strong>Submit</strong></button>
                        

                        <!-- <span id="reauth-email" class="reauth-email"></span>-->

                    </form><!-- /form -->


                </div>
        </div>

    </div>
</div> 

        
  


  
    <link rel="stylesheet" type="text/css" id="theme" href="~/Templete/css/theme-default.css" />
