<div class="panel panel-default">
    <div class="row">
        <ul id="tabs">
            <li><a href="/#/Register" title="Edit Profile">Edit Profile</a></li>
            <li><a href="/#/Picture" title="Add Picture">Add Picture</a></li>
        </ul>
        <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                       
                            <h3><span class="fa fa-download"></span> Add Picture</h3>
                            <p>Add Picture to your Profile</p>
                            <form action="#" class="dropzone dropzone-mini dz-clickable">
                            <div class="dz-default dz-message"><span>Drop files here to upload</span></div></form>
                      
                    </div>

                </div>

       
        
    </div>
</div>
<script src="~/MemberOnlineJS/tabs.js"></script>
<link href="~/Templete/css/tabs.css" rel="stylesheet" />
<script type="text/javascript"  src="~/Templete/js/plugins/dropzone/dropzone.min.js"></script>
