<div class="panel-heading">
    <h3><strong>Your Cards</strong></h3>
</div>
<div class="panel panel-default">
    <div class="col-md-2"></div>

        <div class="col-md-4">
            <br>
            <h3>OISHI PREMIER CARD</h3>
            <img src="~/Images/Register/Oishi-card2.jpg" class="img-text" align="center">
            <br>
        </div>

        <div class="col-md-6">
            <div class="timeline-item">
                <div class="timeline-item-content">
                    <div class="timeline-body">
                        <br>
                        <br>
                   
                            <h3><span class="fa fa-user"></span> Yourname : รัตนาภรณ์  สมนึก</h3>
                            <h3><span class="fa fa-credit-card"></span> Card No. : 0001-4696</h3>
                            <h3><span class="fa fa-heart"></span> Points : 11    </h3>
                            <h3><span class="fa fa-clock-o"></span> Expire : 12-02-2017</h3>
                     
                    </div>
                    <div class="timeline-footer">
                        <h3><a href="/#/News"><span class="fa fa-arrow-circle-o-right pull-right"></span></a></h3>
                    </div>
                </div>
            </div>
        </div>

    </div>



