
    <div class="wrapper">
        <div class="container">
            <h1>Card Detail</h1>
            <form class="form">
                <div>
                <button>Card No.  :   0001-4696</button>
                </div>
                <div>
                    <button>Points  :   11</button>
                </div>
                <div>
                    <button>Expire  :   12-02-2017</button>
                </div>                
            </form>
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>
<link rel="stylesheet" href="css/style.css">
<link href="~/Templete/css/popup.css" rel="stylesheet" />
<script src="~/MemberOnlineJS/index.js"></script>