
    <h3><a href="/#/Picture"><span class="fa fa-arrow-circle-o-left "></span></a> Back </h3>
    <div class="panel panel-default">
        <div class="panel-body padding-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="timeline-item-content">
                        <div class="timeline-heading">
                            <h3><strong>OISHI PRIMIER CARD</strong></h3>
                        </div>
                        <div class="timeline-body">
                            <img src="~/Images/Register/card3.png" class="img-text img-responsive" align="left" />
                            <br><br>
                            <h3><span class="fa fa-user"></span> Yourname : รัตนาภรณ์  สมนึก</h3>
                            <h3><span class="fa fa-credit-card"></span> Card No. : 0001-4696</h3>
                            <h3><span class="fa fa-heart"></span> Points : 11    </h3>
                            <h3><span class="fa fa-clock-o"></span> Expire : 01-05-2017  </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





