<div class="panel panel-default">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">

                <style>
                    article, aside, figure, footer, header, hgroup,
                    menu, nav, section {
                        display: block;
                    }
                </style>
              
               
                <div class="form-group">
                    <label class="col-md-4 col-xs-12 control-label"></label>
                    <div class="col-md-6 col-xs-12">
                        <div class="input-group">
                            <img id="blah" src="~/Images/Register/user_profile.png" class="img-circle" style="width:100%"   >
                            <input type='file' onchange="readURL(this);">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">User Name</label>
                    <div class="col-md-6 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            <input type="text" class="form-control" placeholder="Your login" />

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Password</label>
                    <div class="col-md-6 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                            <input type="password" class="form-control" placeholder="Your password" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Confirm Password</label>
                    <div class="col-md-6 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                            <input type="password" class="form-control" placeholder="Your password" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">First Name</label>
                    <div class="col-md-6 col-xs-12">
                        <input type="text" class="form-control" value="" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Last Name</label>
                    <div class="col-md-6 col-xs-12">
                        <input type="text" class="form-control" value="" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Gender</label>
                    <div class="col-md-6 col-xs-12">
                        <label class="check">
                        <input type="radio" name="gender" value="0" class="icheckbox"/> Male
                        </label>
                        <label class="check">
                        <input type="radio" name="gender" value="1" class="icheckbox" /> Female
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Address</label>
                    <div class="col-md-6 col-xs-12">
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">City</label>
                    <div class="col-md-6 col-xs-12">
                        <select class="form-control select">
                            <option>Bangkok</option>
                            <option>Chiang Mai</option>
                            <option>Krabi</option>
                            <option>Phuket</option>
                            <option>Ubon Ratchathani</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Zip code</label>
                    <div class="col-md-6 col-xs-12">
                        <input type="text" class="form-control" value="" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Mobile Phone</label>
                    <div class="col-md-6 col-xs-12">
                        <input type="text" class="form-control" value="" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">E-mail</label>
                    <div class="col-md-6 col-xs-12">
                        <input type="text" class="form-control" value="" placeholder="example@email.com" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Date of birth</label>
                    <div class="col-md-2">
                        <select class="form-control select">
                            <option selected="selected">01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control select">
                            <option selected="selected">01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control select">
                            <option selected="selected">1985</option>
                            <option>1986</option>
                            <option>1987</option>
                            <option>1988</option>
                            <option>1989</option>
                        </select>
                    </div>
                </div>



                <div class="panel-footer">  
                    <a href="/#/News" class="btn btn-success pull-right"><span class="fa fa-floppy-o"></span> Save Changes</a>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- END PAGE CONTENT WRAPPER -->
<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to log out?</p>
                <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/MemberOnlineJS/tabs.js"></script>
<link href="~/Templete/css/tabs.css" rel="stylesheet" />
<script src="~/MemberOnlineJS/picture.js"></script>




       