<!DOCTYPE html>
<html lang="en" ng-app="MemberOnline">
<head>
    <!-- META SECTION -->
    <title>Oishi Member Online</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="~/Templete/css/theme-default.css" />
    <!-- EOF CSS INCLUDE -->
    <link href="~/Content/dx.common.css" rel="stylesheet" />
    <link href="~/Templete/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Templete/css/tabs.css" rel="stylesheet" />

    <style>
        #scrollArea {
            height: 545px;
            overflow: auto;
        }
    </style>
</head>

<body>
    <div class="container" ng-controller="RegisterController">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" align="text-center">Register</h3>
                </div>

                <form class="form-horizontal">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-4 control-label">User Name</label>
                            <div class="col-md-6 col-xs-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="text" class="form-control" placeholder="Your login" />

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-4 control-label">Password</label>
                            <div class="col-md-6 col-xs-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                    <input type="password" class="form-control" placeholder="Your password" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-4 control-label">Confirm </label>
                            <div class="col-md-6 col-xs-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                    <input type="password" class="form-control" placeholder="Your password" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-4 control-label">First Name</label>
                            <div class="col-md-6 col-xs-8">
                                <input type="text" class="form-control" value="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-4 control-label">Last Name</label>
                            <div class="col-md-6 col-xs-8">
                                <input type="text" class="form-control" value="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-4 control-label">Gender</label>
                            <div class="col-md-6 col-xs-8">
                                <label class="check">
                                    <input type="radio" name="gender" value="0" class="icheckbox" /> Male
                                </label>
                                <label class="check">
                                    <input type="radio" name="gender" value="1" class="icheckbox" /> Female
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-4 control-label">Address</label>
                            <div class="col-md-6 col-xs-8">
                                <input type="text" class="form-control" value="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-4 control-label">City</label>
                            <div class="col-md-6 col-xs-8">
                                <select class="form-control select">
                                    <option>Bangkok</option>
                                    <option>Chiang Mai</option>
                                    <option>Krabi</option>
                                    <option>Phuket</option>
                                    <option>Ubon Ratchathani</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-4 control-label">Zip code</label>
                            <div class="col-md-6 col-xs-8">
                                <input type="number" class="form-control" value="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-4 control-label">Mobile Phone</label>
                            <div class="col-md-6 col-xs-8">
                                <input type="text" class="form-control" value="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-4 control-label">E-mail</label>
                            <div class="col-md-6 col-xs-8">
                                <input type="text" class="form-control" value="" placeholder="example@email.com" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-sm-4 col-xs-2 control-label" for="DocumentDate">Birth day</label>
                            <div class="col-md-6 col-sm-8 col-xs-10">
                                <div class="col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="control-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker ng-pristine ng-valid ng-isolate-scope ng-not-empty ng-valid-date ng-valid-required ng-touched" ng-click="openStart()" min-date="minStartDate" max-date="maxStartDate" uib-datepicker-popup="dd-MM-yyyy" ng-model="start" is-open="popupStart.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" show-button-bar="false" required="required"/>
       
                                            <span class="input-group-addon">
                                                <i class="ace-icon fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-4 control-label">Your Picture</label>
                            <div class="col-md-6 col-xs-8">
                                <div class="input-group">

                                    <br>
                                    <img id="blah" src="~/Images/Register/user_sm.png" class="img-circle img-responsive" style="width:50%">
                                    <br><br>
                                    <input type="file" class="align:center" onchange="readURL(this);">

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel-footer">
                        <a href="/Register/Addcard" class="btn btn-success pull-right"><span class="fa fa-floppy-o"></span> Save Changes</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/MemberOnlineJS/app.js"></script>
    <script src="~/MemberOnlineJS/register.js"></script>
    <script src="~/MemberOnlineJS/picture.js"></script>
    <script data-require="ui-bootstrap@1.0.0" data-semver="1.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.0/ui-bootstrap-tpls.js"></script>
</body>
</html>