<style type="text/css">
    h4 {
        line-height: 200%;
    }
</style>

<!-- PAGE TITLE -->
<div class="panel panel-default">
    <div class="page-title">
        <h3><a href="/#/News"><span class="fa fa-arrow-circle-o-left" ></span>Back</a></h3>
    </div>
    <!-- END PAGE TITLE -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body posts">
                    <div class="post-title">
                        <h3 align:center><strong>พิธีเปิดงานเทศกาล Phuket Lobster Festival 2016 at OISHI Grand</strong></h3>
                    </div>
                    <div class="post-date"><span class="fa fa-calendar"></span>  August 24, 2016 </div><br><br><br>
                    <div class="post-text">
                        <center><img src="~/Images/News/News-Oishi-phuket-lobster.jpg" class="img-responsive" /></center><br><br><br>
                        <h4 style="text-indent: 2.5em">
                            <strong>ฐาปน สิริวัฒนภักดี</strong>กรรมการผู้อำนวยการใหญ่ บริษัท ไทยเบฟเวอเรจ จำกัด (มหาชน) และหัวหน้าทีมภาคเอกชน คณะทำงานการพัฒนาเศรษฐกิจฐานรากและประชารัฐ เป็นประธานเปิดงานเทศกาล
                            <strong>“Phuket Lobster Festival 2016 at OISHI GRAND”</strong> โดยนำกุ้งมังกรเจ็ดสีของดีเมืองภูเก็ตมาเปิดตัวเมนูสุดพิเศษ เพื่อสนับสนุนชุมชนผู้เลี้ยงกุ้งมังกรตามนโยบายประชารัฐฯ โดยมี
                            <strong>วีชัย วีระไวทยะ, อภิชาติ โตดิลกเวชช์, วีระชัย ปรานวีระไพบูลย์</strong>และ
                            <strong>มารุต บูรณะเศรษฐกุล</strong>มาร่วมงานด้วย ณ ร้านโออิชิ แกรนด์ ชั้น 4 ศูนย์การค้าสยามพารากอน เมื่อเร็วๆ นี้
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

















