<div class="panel-heading">
    <h1 class="panel-title" style="color:darkred"><strong>Latest News</strong></h1>
</div>
<div class="panel panel-default">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                    <ul id="tabs">
                      
                        <li><a href="#/News" title="Latest">Latest (8)</a></li>
                        <li><a href="#/Unread" title="Unread">Unread (4)</a></li>
                    </ul>
                
                    
                <div class="content-frame-right">
                        <div class="list-group list-group-contacts border-bottom push-down-10">
                      
                                <a href="#/Detail" class="list-group-item">
                                    <div class="list-group-status status-online"></div>
                                    <span class="contacts-title">พิธีเปิดงานเทศกาล Phuket Lobster Festival 2016</span>
                                    <p>ฐาปน สิริวัฒนภักดี กรรมการผู้อำนวยการใหญ่เป็นประธานเปิดงานเทศกาล “Phuket Lobster Festival 2016 at OISHI GRAND”
                                    <p align="right">Today, 11:21 </p>
                                </a>
                            
                                <a href="#/Detail" class="list-group-item">
                                    <div class="list-group-status status-online"></div>
                                    <span class="contacts-title">โออิชิ แกรนด์ เปิดตัวเมนูหรู “LOBSTER with LOVE” </span>
                                    <p>บริษัท โออิชิ กรุ๊ป จัดเทศกาล Phuket Lobster Festival 2016 at OISHI GRAND</p>
                                    <p align="right">Today, 20.30 </p>
                                </a>

                                <a href="#/Detail" class="list-group-item">
                                    <div class="list-group-status status-online"></div>
                                    <span class="contacts-title">ประกาศรายชื่อผู้โชคดีจากแคมเปญ OISHI – TRUE “FLY ME TO JAPAN”</span>
                                    <p>ประกาศรายชื่อผู้โชคดีจากแคมเปญ OISHI – TRUE “FLY ME TO JAPAN” โชค 2 ชั้น...มันส์ถึงญี่ปุ่น! ปี 4 </p>
                                    <p align="right">Yesterday, 10:36 </p>
                                </a>

                                <a href="#/Detail" class="list-group-item">
                                    <div class="list-group-status status-online"></div>
                                    <span class="contacts-title">โออิชิ สนับสนุน ‘โครงการ ค่ายแนะแนวการศึกษา มหาวิทยาลัยธรรมศาสตร์’</span>
                                    <p>สานต่อโครงการโออิชิ “ให้” มอบเงินสนับสนุนและเครื่องดื่มโออิชิ สนับสนุน ‘โครงการ ค่ายแนะแนวการศึกษา มหาวิทยาลัยธรรมศาสตร์</p>
                                    <p align="right">Aug 18</p>
                                </a>

                                <a href="#/Detail" class="list-group-item">
                                    <div class="list-group-status status-offline"></div>
                                    <span class="contacts-title">ตอกย้ำผู้นำอันดับ 1 ตลาดชาบู-ชาบู และซูชิ ของเมืองไทย !!</span>
                                    <p>แคมเปญ Shabushi and So Much More ! พร้อมภาพยนตร์โฆษณา ชุด “ได้” เพื่อตอกย้ำความเป็นผู้นำอันดับ 1 ตลาดชาบู-ชาบู สุกี้หม้อไฟสไตล์ญี่ปุ่น</p>
                                    <p align="right">Aug 1</p>
                                </a>

                                <a href="#/Detail" class="list-group-item">
                                    <div class="list-group-status status-offline"></div>
                                    <span class="contacts-title">กินได้ลด... โซ้ยได้ลุ้น!</span>
                                    <p>ธนาคารกรุงเทพร่วมส่งมอบสิทธิประโยชน์เหนือชั้นสำหรับผู้บริโภค พร้อมเปิดตัวกิจกรรมการตลาด โครงการ OISHI “FLY ME TO JAPAN” </p>
                                    <p align="right">July 30</p>
                                </a>

                                <a href="#/Detail" class="list-group-item">
                                    <div class="list-group-status status-offline"></div>
                                    <span class="contacts-title">แจกแล้ว แจกจริง กับ ฝาโออิชิ!!</span>
                                    <p>แจกอลังการกับแคมเปญ“รหัสโออิชิ กองทัพแมวเนโกะทองคำ” โดยได้ทำการมอบรางวัลใหญ่แมวเนโกะทองคำมูลค่า 10 ล้านบาท </p>
                                    <p align="right">July 18</p>
                                </a>

                                <a href="#/Detail" class="list-group-item">
                                    <div class="list-group-status status-offline"></div>
                                    <span class="contacts-title">โออิชิ เทรนดี้ โรล รสชาติล่าสุด!</span>
                                    <p>โออิชิ เทรนดี้ โรล รสชาติล่าสุด! ทั้ง “แฮม-ปูอัด (ซอสสลัดงา)” และ “ปูอัด-ไข่หวาน (ซอสสลัดไข่กุ้ง)” </p>
                                    <p align="right">June 18</p>
                                </a>
</div>
                    </div> 
            </form>
        </div>
    </div>
</div>


    <script src="~/MemberOnlineJS/tabs.js"></script>
    <link href="~/Templete/css/tabs.css" rel="stylesheet" />







