<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Feedback</h3>
        <div class="panel-body mail">

            <div class="mail-item mail-unread mail-info">
                <div class="mail-star" style="big">
                    <span class="fa fa-star-o"></span>
                </div>
                <div class="mail-user">Dmitry Ivaniuk</div>
                <a href="pages-mailbox-message.html" class="mail-text">Product development</a>
                <div class="mail-date">Today, 11:21</div>
            </div>

            <div class="mail-item mail-unread mail-danger">
                <div class="mail-star">
                    <span class="fa fa-star-o"></span>
                </div>
                <div class="mail-user">John Doe</div>
                <a href="pages-mailbox-message.html" class="mail-text">New Windows 9 App</a>
                <div class="mail-date">Today, 10:36</div>
            </div>

            <div class="mail-item mail-success">
                <div class="mail-star">
                    <span class="fa fa-star-o"></span>
                </div>
                <div class="mail-user">Nadia Ali</div>
                <a href="pages-mailbox-message.html" class="mail-text">Check my new song</a>
                <div class="mail-date">Yesterday, 20:19</div>
            </div>

            <div class="mail-item mail-warning">
                <div class="mail-star starred">
                    <span class="fa fa-star-o"></span>
                </div>
                <div class="mail-user">Brad Pitt</div>
                <a href="pages-mailbox-message.html" class="mail-text">How are you? Need some work?</a>
                <div class="mail-date">Sep 15</div>
            </div>

            <div class="mail-item mail-info">
                <div class="mail-star">
                    <span class="fa fa-star-o"></span>
                </div>
                <div class="mail-user">Dmitry Ivaniuk</div>
                <a href="pages-mailbox-message.html" class="mail-text">Can you check this docs?</a>
                <div class="mail-date">Sep 14</div>
                <div class="mail-attachments">
                    <span class="fa fa-paperclip"></span> 11Kb
                </div>
            </div>

            <div class="mail-item">
                <div class="mail-star starred">
                    <span class="fa fa-star-o"></span>
                </div>
                <div class="mail-user">HTC</div>
                <a href="pages-mailbox-message.html" class="mail-text">New updates on your phone HD7</a>
                <div class="mail-date">Sep 13</div>
                <div class="mail-attachments">
                    <span class="fa fa-paperclip"></span> 58Mb
                </div>
            </div>

            <div class="mail-item mail-unread">
                <div class="mail-star">
                    <span class="fa fa-star-o"></span>
                </div>
                <div class="mail-user">Unknown</div>
                <a href="pages-mailbox-message.html" class="mail-text">You won $15,000,000</a>
                <div class="mail-date">Sep 13</div>
            </div>

            <div class="mail-item mail-success">
                <div class="mail-star">
                    <span class="fa fa-star-o"></span>
                </div>
                <div class="mail-user">Nadia Ali</div>
                <a href="pages-mailbox-message.html" class="mail-text">Your tickets</a>
                <div class="mail-date">Sep 11</div>
                <div class="mail-attachments">
                    <span class="fa fa-paperclip"></span> 1.2Mb
                </div>
            </div>

            <div class="mail-item mail-info">
                <div class="mail-star">
                    <span class="fa fa-star-o"></span>
                </div>
                <div class="mail-user">Dmitry Ivaniuk</div>
                <a href="pages-mailbox-message.html" class="mail-text">New bug founded</a>
                <div class="mail-date">Sep 11</div>
            </div>

            <div class="mail-item">
                <div class="mail-star">
                    <span class="fa fa-star-o"></span>
                </div>
                <div class="mail-user">Darth Vader</div>
                <a href="pages-mailbox-message.html" class="mail-text">Where drawings of the new spaceship?</a>
                <div class="mail-date">Sep 10</div>
            </div>
        </div>
    </div>
</div>


