
<style>
    .bg {
        background-color:white;
    }
</style>

<div class="bg">

    <div class="panel-heading">
        <h1 class="panel-title" style="color:darkred"><strong>Feedback</strong></h1>
    </div>

    <div class="panel panel-default bg">
        <div class="panel-body mail" align:center>
            <div class="mail-item mail-unread mail-success">
                <div class="">
                    <h5 class="panel-title" style="color:lightseagreen"><strong>สาขาที่ใช้บริการ</strong></h5>
                </div>
                <br>
                <div class="row">
                    <div class="form-group">
                        <br>
                        <h5 class="col-md-1 col-xs-3  text-left" style="padding-top:7px;"><strong>สาขา</strong></h5>

                        <div class="col-md-2 col-xs-9 ">
                            <select class="form-control select" style="align-content:center">
                                ^
                                <option>เลือกสาขา</option>
                                <option>โออิชิแกรนด์ สยามพารากอน</option>
                                <option>โออิชิบุฟเฟ่ต์ ซีคอนสแควร์</option>
                                <option>โออิชิบุฟเฟ่ต์ ซีคอนบางแค</option>
                                <option>โออิชิบุฟเฟ่ต์ ปิ่นเกล้า</option>
                                <option>โออิชิบุฟเฟ่ต์ บิ๊กซีพระราม4</option>
                            </select>
                        </div>
                    </div>
                </div>
              
                    <div class="">
                        <h5 class="panel-title" style="color:lightseagreen;"><strong>คุณภาพ</strong></h5>
                    </div>
              

                <div class="mail-item mail-success">
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <h6>
                                รสชาติอาหาร
                            </h6>
                            <div class="stars">
                                <form action="">
                                    <input class="star star-5" id="star-1" type="radio" name="star" />
                                    <label class="star star-5" for="star-1"></label>
                                    <input class="star star-4" id="star-2" type="radio" name="star" />
                                    <label class="star star-4" for="star-2"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star" />
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" id="star-4" type="radio" name="star" />
                                    <label class="star star-2" for="star-4"></label>
                                    <input class="star star-1" id="star-5" type="radio" name="star" />
                                    <label class="star star-1" for="star-5"></label>
                                </form>
                            </div>
                            <br>
                            <div>
                                <h6>
                                    ความหลากหลายของอาหาร
                                </h6>

                                <div class="stars">
                                    <form action="">
                                        <input class="star star-5" id="star6" type="radio" name="star1" />
                                        <label class="star star-5" for="star6"></label>
                                        <input class="star star-4" id="star7" type="radio" name="star1" />
                                        <label class="star star-4" for="star7"></label>
                                        <input class="star star-3" id="star8" type="radio" name="star1" />
                                        <label class="star star-3" for="star8"></label>
                                        <input class="star star-2" id="star9" type="radio" name="star1" />
                                        <label class="star star-2" for="star9"></label>
                                        <input class="star star-1" id="star10" type="radio" name="star1" />
                                        <label class="star star-1" for="star10"></label>
                                    </form>
                                </div>
                                <br>
                                <div>
                                    <h6>
                                        ความสดของอาหาร
                                    </h6>
                                    <div class="stars">
                                        <form action="">
                                            <input class="star star-5" id="star-11" type="radio" name="star2" />
                                            <label class="star star-5" for="star-11"></label>
                                            <input class="star star-4" id="star-12" type="radio" name="star2" />
                                            <label class="star star-4" for="star-12"></label>
                                            <input class="star star-3" id="star-13" type="radio" name="star2" />
                                            <label class="star star-3" for="star-13"></label>
                                            <input class="star star-2" id="star-14" type="radio" name="star2" />
                                            <label class="star star-2" for="star-14"></label>
                                            <input class="star star-1" id="star-15" type="radio" name="star2" />
                                            <label class="star star-1" for="star-15"></label>
                                        </form>
                                    </div>
                                    <br>
                                    <div>
                                        <h6>
                                            คุ้มค่าราคา
                                        </h6>
                                        <div class="stars">
                                            <form action="">
                                                <input class="star star-5" id="star-16" type="radio" name="star3" />
                                                <label class="star star-5" for="star-16"></label>
                                                <input class="star star-4" id="star-17" type="radio" name="star3" />
                                                <label class="star star-4" for="star-17"></label>
                                                <input class="star star-3" id="star-18" type="radio" name="star3" />
                                                <label class="star star-3" for="star-18"></label>
                                                <input class="star star-2" id="star-19" type="radio" name="star3" />
                                                <label class="star star-2" for="star-19"></label>
                                                <input class="star star-1" id="star-20" type="radio" name="star3" />
                                                <label class="star star-1" for="star-20"></label>
                                            </form>
                                        </div>
                                    </div>
                                    <div>
                                        <h6>
                                            หน้าตาและสีสันของอาหาร
                                        </h6>
                                        <div class="stars">
                                            <form action="">
                                                <input class="star star-5" id="star-21" type="radio" name="star" />
                                                <label class="star star-5" for="star-21"></label>
                                                <input class="star star-4" id="star-22" type="radio" name="star" />
                                                <label class="star star-4" for="star-22"></label>
                                                <input class="star star-3" id="star-23" type="radio" name="star" />
                                                <label class="star star-3" for="star-23"></label>
                                                <input class="star star-2" id="star-24" type="radio" name="star" />
                                                <label class="star star-2" for="star-24"></label>
                                                <input class="star star-1" id="star-25" type="radio" name="star" />
                                                <label class="star star-1" for="star-25"></label>
                                            </form>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="col-md-6">
                                        <button class="btn btn-success" onclick="parent.location='#/Point'"><strong>Send</strong></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

                <link href="~/Content/layouts/star.css" rel="stylesheet" />

