
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<style>
    .mySlides {
        display: none;
    }
</style>

<!-- START CONTENT FRAME BODY -->

<div class="panel panel-default">
    <div class="row">
        <div class="col-md-12">

            <div class="page-title">
                <h5><a href="/#/maps"><span class="fa fa-arrow-circle-o-left"></span>Back</a></h5>
            </div>

            <div class="panel-body padding-0">
                <div class="row">
                    <div class="timeline-item-content" style="width: 100%;">
                        <div class="timeline-body" align="center">
      
                                <h6 style="color:darkred"><strong>โออิชิแกรนด์ สยามพารากอน</strong></h6>

                            <div class="w3-content w3-section" style="max-width:400px">
                                <img class="mySlides w3-animate-left" src="~/Templete/img/oishi-grand.jpg" style="width:100%">
                                <img class="mySlides w3-animate-left" src="~/Templete/img/oishigrand2.png" style="width:100%">
                                <img class="mySlides w3-animate-left" src="~/Templete/img/oishigrandpr2015.jpg" style="width:100%">
                            </div>
                            <div class="paragraph">
                                <br>
                                <p style="color:darkgreen"><strong>โออิชิ แกรนด์ "แกรนด์บุฟเฟ่ต์หรูแนวใหม่"</strong></p>
                                <p>แกรนด์บุฟเฟ่ต์ ในราคาเบาๆ… เปิดประสบการณ์ความอร่อยกับหลากหลายเมนูคุณภาพคัดพิเศษ</p>
                                <p>ระดับพรีเมี่ยม ที่ให้คุณเลือกอร่อยได้...แบบไม่จำกัด ทั้งอาหาร ญี่ปุ่น จีน ยุโรป กว่า 100 รายการ</p>
                                <p> อาทิ ซาชิมิ ปลาฮามาจิ , ปลาหิมะย่างเกลือ , เทปันยากิ เนื้อนิวซีแลนด์ , ไอศกรีม ฮาเก้นดาส</p>
                                <br>
                                <p><strong>ที่ตั้ง</strong></p>
                                <p>ศูนย์การค้าสยามพารากอน ถ.พระราม 1 แขวง ปทุมวัน เขต ปทุมวัน กรุงเทพฯ 10330</p>
                            </div>
                            <br>
                            <p><a href="/#/showMap"><span class="fa fa-map-marker "><strong>Show Map</strong></span></a></p>
                            <br><br>
                            <div class="login-footer">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 2500);
}
</script>

<!-- END CONTENT FRAME BODY -->
